$color-primary: #625FD5;
$color-primary-darkshade: #4F4CC5;

.buttonPrimary {
    width: 250px;
    height: 50px;
    background-color: $color-primary-darkshade;
    color: #fff;
    border: none;
    border-radius: 0px;

    &:hover {
      cursor: pointer;
    }
    
    &:hover, &:active {
      color: #fff;
      background-color: $color-primary;
      border: none;
      box-shadow: none;
    }

    &:focus {
      background-color: $color-primary-darkshade;
      color: #fff;
      border: none;
      box-shadow: none!important;
    }

}
