$color-primary: #625FD5;

.line {
    height: 2px;
    width: 90px;
    background-color: $color-primary;
}

.sm {
    margin-top: 12px;
    margin-bottom: 12px;
}

.md {
    margin-top: 25px;
    margin-bottom: 25px;
}

.lg {
    margin-top: 30px;
    margin-bottom: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

// @media screen and (max-width: 768px) {
//   .md {
//     margin-top: 15px;
//     margin-bottom: 15px;
//   }
// }
