$color-primary: #625FD5;

.logobox {
    border: 2px solid $color-primary;
    padding: 25px;
}

@media screen and (max-width: 768px) {
  .logobox {
    margin-left: -15px;
    margin-right: -15px;
  }
}